footer {
	text-align: center;
	margin-top: 100px;
	padding: 50px;
	background: black; 
}

footer .text {
	display: flex;
	text-align: center;
	color: #fff;
	justify-content: center;
	flex-direction: column;
}

footer .icon {
	justify-content: space-around;
	font-weight: 400;
	font-size: 20px;
	transition: color, transform 1s ease;
	
}


footer .icon-1 {
	margin: 0 10px;
	transition: color, transform 1s ease;
}


footer .icon-1:hover{
	color: #FF4500;
	transform: scale(1.5);
}

