@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');

html,
body,
#root,
.app {
	height: 100%;
	width: 100%;
	font-family: 'Rubik Distressed', cursive;


}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black ;
	color: black;
	font-family: 'Noto Serif', serif;
	font-weight: 300;
}

.wrapper {
	color:  black;
	width: 97%;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}

/* Header */
header {
	position: relative;
	background: black;
	color: #fff;
}

header .logo {
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}


header ul.nav {
	float: right;
	list-style: none;
}

header ul.nav li {
	display: inline;
	margin-left: 40px;
	cursor: pointer;
	font-weight: 500;
	font-size: 20px;
	transition: opacity 1s ease;

}

header ul.nav li:hover {
	opacity: 0.3;
}




header .shop-cart-basket {
	float: right;
	cursor: pointer;
	transition: color, transform 1s ease;
	font-size: 20px;
	margin: 5px 10px;

}

header .shop-cart-basket:hover,
header .shop-cart-basket.active {
	color: #FF4500;
	transform: scale(1.5);
}

header .shop-cart {
	position: absolute;
	top: 30px;
	right: 0;
	width: 450px;
	background: #fff;
	-webkit-box-shadow: 23px 19px 42px 18px rgba(29, 56, 42, 1);
	-moz-box-shadow: 23px 19px 42px 18px rgba(29, 56, 42, 1);
	box-shadow: 23px 19px 42px 18px rgba(29, 56, 42, 1);
	z-index: 1000;
	padding: 20px;
	padding-bottom: 0;
}



header .shop-cart .itema {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

header .shop-cart .itema img {
	width: 90px; 
	float: left;
	margin-right: 20px;
}

header .shop-cart .itema h3 {
	font-size: 15px;
	margin-bottom: 10px;
	color: black;
}

header .shop-cart .itema p {
	color: #00E1FD;
	font-weight: 500;
}


header .shop-cart-client {
	float: right;
	cursor: pointer;
	transition: color, transform 1s ease;
	font-size: 20px;
	margin: 5px 20px 0 0;
}


header .shop-cart-client:hover,
header .shop-card-client.active {
	color: #2F4F4F;
	transform: scale(1.5);
}

header .presentation {
	background-position: center;
	margin: 50px 0;
	width: 100%;
	height: 500px;
	background: url("./img/2021-03-24\ \(1\).jpg") center no-repeat;
	background-size: cover;
	background-blend-mode:multiply;
	background-color: #FAEBD7;
	position: relative;
}

header .presentation::after{
	content: 'ZROBIĆ KROK W KIERUNKU WYGODNEGO ŻYCIA';
	position: absolute;
	top: 100px;
	left: 50px;
	width: 300px;
	font-size: 40px;
	font-weight: 600;
	color: #fff;
}
/* Header */

/* Figures */
.carousel {
	display: flex;
	gap: 2rem;
	margin: 0 10px 50px;
}

.carousel .figures {
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
}
.carousel .figures .number {
	color: black;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}

.carousel .figures .text {
	text-align: center;
	color: black;
	font-weight: 800;
	text-transform: uppercase;
	max-width: 500px;
}
/* Figures */

/* Text_Items */
.text_items {
	text-align: center;
	margin: 55px ;
	font-size: 25px;
	font-weight: 800;
}
/* Text_Items */

/* Items */
main {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}

main .itema {
	width: 30%;
	margin-bottom: 50px;
	background: #FAEBD7;
	overflow: hidden;
	position: relative;
	padding-bottom: 15px;
}
main .itema img {
	width: 100%;
	border-radius: 10px 10px 0 0;
	transition: transform 500ms ease;
}

main .itema img:hover {
	transform: scale(1.05);
}

main h2, main p, main b {
	margin: 10px 20px;
	color: #00FF5B;
}
main b {
	color: black;
	font-weight: 600;
	font-size: 20px;
}

main .add-to-cart {
	position: absolute;
	right: 20px;
	bottom: 20px;
	background: #00E1FD;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	color: #FAEBD7;
	border-radius: 50%;
	cursor: pointer;
	font-weight: 600;
	transition: transform 500ms ease;
}

main .add-to-cart:hover {
	transform: scale(1.5) translateY(-5px);
	
}
/* Items */


/* Blogs */
blog .cap {
	position: relative;
	background: black;
	color: #fff;
}

blog .logo {
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}


blog  ul.nav {
	float: right;
	list-style: none;
}

blog  ul.nav li {
	display: inline;
	margin-left: 40px;
	cursor: pointer;
	font-weight: 500;
	font-size: 20px;
	transition: opacity 1s ease;

}

blog  ul.nav li:hover {
	opacity: 0.3;
}




blog  .shop-cart-basket {
	float: right;
	cursor: pointer;
	transition: color, transform 1s ease;
	font-size: 20px;
	margin: 5px 10px;

}

blog  .shop-cart-basket:hover,
blog	 .shop-cart-basket.active {
	color: #FF4500;
	transform: scale(1.5);
}

blog  .shop-cart {
	position: absolute;
	top: 30px;
	right: 0;
	width: 450px;
	min-height: 100px;
	background-color: #fff;
	color: #fff;
	-webkit-box-shadow: 23px 19px 42px 18px rgba(29, 56, 42, 1);
	-moz-box-shadow: 23px 19px 42px 18px rgba(29, 56, 42, 1);
	box-shadow: 23px 19px 42px 18px rgba(29, 56, 42, 1);
	z-index: 1000;
}


blog  .shop-cart-client {
	float: right;
	cursor: pointer;
	transition: color, transform 1s ease;
	font-size: 20px;
	margin: 5px 20px 0 0;
}


blog  .shop-cart-client:hover,
blog  .shop-card-client.active {
	color: #2F4F4F;
	transform: scale(1.5);
}




/* Blogs */


.text-1 {
	text-align: center;
	width: 100%;
	margin: 60px auto;
	font-weight: 900;
	font-size: 40px;
}



.item {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.item-1 {
	background: linear-gradient(to bottom, #00FF5B, #0014FF);
	
}

.item-2 {
	background: linear-gradient(to bottom, #00E1FD, #FC007A);
}

.item-3 {
	background-color: #00008B;
}


.mr-3 {
	width: 150px;
	height: 150px;
}


/* Footer */
footer {
	text-align: center;
	margin-top: 100px;
	padding: 50px;
	background: black; 
}

footer .text {
color: #fff;
}
/* Footer */
