@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');

html,
body,
#root,
.app {
	height: 100%;
	width: 100%;
	font-family: 'Rubik Distressed', cursive;


}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black ;
	color: black;
	font-family: 'Noto Serif', serif;
	font-weight: 300;
}

.wrapper {
	color:  black;
	width: 97%;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}

/* Header */
header {
	position: relative;
}

header .logo {
	font-weight: 600;
	font-size: 30px;
}


header ul.nav {
	float: right;
	list-style: none;
}

header ul.nav li {
	display: inline;
	margin-left: 40px;
	cursor: pointer;
	font-weight: 500;
	font-size: 20px;
	transition: opacity 1s ease;

}

header ul.nav li:hover {
	opacity: 0.3;
}




header .shop-cart-basket {
	float: right;
	cursor: pointer;
	transition: color, transform 1s ease;
	font-size: 20px;
	margin: 5px 10px;

}

header .shop-cart-basket:hover,
header .shop-cart-basket.active {
	color: #FF4500;
	transform: scale(1.5);
}

header .shop-cart {
	position: absolute;
	top: 30px;
	right: 0;
	width: 450px;
	min-height: 100px;
	color: #fff;
	-webkit-box-shadow: 23px 19px 42px 18px rgba(29, 56, 42, 1);
	-moz-box-shadow: 23px 19px 42px 18px rgba(29, 56, 42, 1);
	box-shadow: 23px 19px 42px 18px rgba(29, 56, 42, 1);
	z-index: 1000;
}


header .shop-cart-client {
	float: right;
	cursor: pointer;
	transition: color, transform 1s ease;
	font-size: 20px;
	margin: 5px 20px 0 0;
}


header .shop-cart-client:hover,
header .shop-card-client.active {
	color: #2F4F4F;
	transform: scale(1.5);
}

header .presentation {
	background-position: center;
	margin: 50px 0;
	width: 100%;
	height: 500px;
	background: url("./img/2021-03-24\ \(1\).jpg") center no-repeat;
	background-size: cover;
	background-blend-mode:multiply;
	background-color: #FAEBD7;
	position: relative;
}

header .presentation::after{
	content: 'ZROBIĆ KROK W KIERUNKU WYGODNEGO ŻYCIA';
	position: absolute;
	top: 100px;
	left: 50px;
	width: 300px;
	font-size: 40px;
	font-weight: 600;
	color: #fff;
}
/* Header */

/* Figures */
.carousel {
	display: flex;
	gap: 2rem;
}

.carousel .figures {
	display: flex;
	flex: 1 1 0;
	flex-direction: column;
}
.carousel .figures .number {
	color: black;
	font-weight: 600;
	font-size: 30px;
	text-align: center;
}

.carousel .figures .text {
	text-align: center;
	color: black;
	font-weight: 800;
	text-transform: uppercase;
	max-width: 500px;
}
/* Figures */


/* Blogs */
.span {
	position: relative;
	color:  black;
	width: 97%;
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
	background-color: #00E1FD;
	
}

.blogs-header {
	position: relative;
	background-color: #2F4F4F;
}

.blogs-image {
	display: flex;
	margin:  40px auto;
	padding: 30px;
	font-family: 'Raleway', sans-serif;

}
/* Blogs */


.text-1 {
	text-align: center;
	width: 100%;
	margin: 60px auto;
	font-weight: 900;
	font-size: 40px;
}



.item {
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.item-1 {
	background: linear-gradient(to bottom, #00FF5B, #0014FF);
	
}

.item-2 {
	background: linear-gradient(to bottom, #00E1FD, #FC007A);
}

.item-3 {
	background-color: #00008B;
}


.mr-3 {
	width: 150px;
	height: 150px;
}


/* Footer */
footer {
	text-align: center;
	margin-top: 100px;
	padding: 50px;
	background: black; 
}

footer .text {
color: #fff;
}
/* Footer */
